@using System.Security.Claims
@model MessageClient.Models.ApplicationUser

@if (User.Identity.IsAuthenticated)
{
  @* <h3>@Model.ProfileIcon</h3> *@
  <p>Hello @User.Identity.Name!</p>
}
else
{
  <a href='@Url.Action("Register")'><button class="btn btn-primary">Register</button></a>
  <a href='@Url.Action("Login")'><button class="btn btn-primary">Log In</button></a>
}
